In [1]:
%pip install SQLAlchemy==1.4.49

Requirement already satisfied: SQLAlchemy==1.4.49 in /Users/borja/anaconda3/lib/python3.10/site-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /Users/borja/anaconda3/lib/python3.10/site-packages (from SQLAlchemy==1.4.49) (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install pymysql

Requirement already satisfied: pymysql in /Users/borja/anaconda3/lib/python3.10/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import mysql.connector as conn
from sqlalchemy import create_engine

In [4]:
str_conn = 'mysql+pymysql://root:Repsol88@localhost:3306/publications'

cursor = create_engine(str_conn)

In [5]:
query_1 = '''select ta.au_id as author_id, t.title_id, t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as royalty
from 
authors as a
left join 
titleauthor as ta
on a.au_id = ta.au_id
left join
titles as t
on t.title_id = ta.title_id
left join
sales as s
on s.title_id = t.title_id;'''

datos=pd.read_sql(query_1, cursor)

In [6]:
datos

      author_id title_id  royalty
0   172-32-1176   PS3333   29.985
1   213-46-8915   BU1032    3.998
2   213-46-8915   BU1032    7.996
3   213-46-8915   BU2075   25.116
4   238-95-7766   PC1035  110.160
5   267-41-2394   BU1111   11.950
6   267-41-2394   TC7777    8.994
7   274-80-9391   BU7832   29.985
8          None     None      NaN
9   409-56-7008   BU1032    5.997
10  409-56-7008   BU1032   11.994
11  427-17-2319   PC8888   50.000
12  472-27-2349   TC7777    8.994
13  486-29-1786   PC9999      NaN
14  486-29-1786   PS7777   19.975
15         None     None      NaN
16  648-92-1872   TC4203   33.460
17  672-71-3249   TC7777   11.992
18  712-45-1867   MC2222   23.988
19  722-51-5454   MC3021   13.455
20  722-51-5454   MC3021    8.073
21         None     None      NaN
22  724-80-9391   BU1111   17.925
23  724-80-9391   PS1372   10.795
24  756-30-7391   PS1372   32.385
25  807-91-6654   TC3218   83.800
26  846-92-7186   PC8888   50.000
27         None     None      NaN
28  899-46-2035   MC3021    4.485
29  899-46-2035   MC3021    2.691
30  899-46-2035   PS2091    1.971
31  899-46-2035   PS2091   49.275
32  899-46-2035   PS2091    6.570
33  899-46-2035   PS2091   13.140
34  998-72-3567   PS2091    1.971
35  998-72-3567   PS2091   49.275
36  998-72-3567   PS2091    6.570
37  998-72-3567   PS2091   13.140
38  998-72-3567   PS2106   17.500

In [7]:
query_2 = '''select subquery1.author_id, sum(t.advance) + sum(subquery1.sales_royalty) as total_royalty
from
(select ta.au_id as author_id, t.title_id as title_id, t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as sales_royalty
from 
authors as a
left join 
titleauthor as ta
on a.au_id = ta.au_id
left join
titles as t
on t.title_id = ta.title_id
left join
sales as s
on s.title_id = t.title_id) as subquery1
left join 
titles as t
on t.title_id = subquery1.title_id
group by subquery1.author_id
order by total_royalty desc
limit 3'''

In [8]:
datos2=pd.read_sql(query_2, cursor)

In [9]:
datos2

     author_id  total_royalty
0  899-46-2035      39178.132
1  722-51-5454      30021.528
2  213-46-8915      20162.110

In [10]:
query_3 = '''create temporary table publications.total_royalty
select subquery1.author_id, sum(t.advance) + sum(subquery1.sales_royalty) as total_royalty
from
(select ta.au_id as author_id, t.title_id as title_id, t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as sales_royalty
from 
authors as a
left join 
titleauthor as ta
on a.au_id = ta.au_id
left join
titles as t
on t.title_id = ta.title_id
left join
sales as s
on s.title_id = t.title_id) as subquery1
left join 
titles as t
on t.title_id = subquery1.title_id
group by subquery1.author_id
order by total_royalty desc
limit 3'''

In [11]:
datos3=pd.read_sql(query_3, cursor)
datos3

ResourceClosedError: This result object does not return rows. It has been closed automatically.

In [12]:
query_4 = '''create table publications.most_profiting_authors
select subquery1.author_id, sum(t.advance) + sum(subquery1.sales_royalty) as total_royalty
from
(select ta.au_id as author_id, t.title_id as title_id, t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as sales_royalty
from 
authors as a
left join 
titleauthor as ta
on a.au_id = ta.au_id
left join
titles as t
on t.title_id = ta.title_id
left join
sales as s
on s.title_id = t.title_id) as subquery1
left join 
titles as t
on t.title_id = subquery1.title_id
group by subquery1.author_id
order by total_royalty desc'''

In [13]:
datos4=pd.read_sql(query_4, cursor)
datos4

OperationalError: (pymysql.err.OperationalError) (1050, "Table 'most_profiting_authors' already exists")
[SQL: create table publications.most_profiting_authors
select subquery1.author_id, sum(t.advance) + sum(subquery1.sales_royalty) as total_royalty
from
(select ta.au_id as author_id, t.title_id as title_id, t.price * s.qty * t.royalty / 100 * ta.royaltyper / 100 as sales_royalty
from
authors as a
left join
titleauthor as ta
on a.au_id = ta.au_id
left join
titles as t
on t.title_id = ta.title_id
left join
sales as s
on s.title_id = t.title_id) as subquery1
left join
titles as t
on t.title_id = subquery1.title_id
group by subquery1.author_id
order by total_royalty desc]
(Background on this error at: https://sqlalche.me/e/14/e3q8)